<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 overflow-scroll">
        <div class="flex justify-between items-center px-10 pt-6 pb-4">
            <h2 class="text-xl text-white">Edit your post</h2>
            <a href="/logout" class="text-white px-4 py-2 bg-red-700 rounded-md text-sm">Logout</a>
        </div>

        <form action="/update/<%= post.id %>" method="post" class="px-10">
            <textarea
            class="block px-4 py-2 resize-none bg-transparent border-2 border-zinc-700 rounded-md w-[400px] h-40 text-white mb-4" 
            name="postdesc" id=""><%= post.content %></textarea>
            <input class="block px-4 py-2 bg-blue-700 text-white rounded-md text-sm" 
            type="submit" value="Update">
        </form>

    </div>
</body>
</html>